# Variables de entorno para Netlify
# NO subas este archivo con valores reales a Git

# API Key de Resend (obtén tu clave en: https://resend.com/api-keys)
RESEND_API_KEY=re_7iiyZkaE_7ranuFQUSy4YmkJN485Lfikd
